body {
   background-color: aliceblue;
   /* border: 10px solid green; */
   /* border-radius: 20px; */
   /* background: repeating-linear-gradient(
      45deg,
      #00de31,
      #51f213
   ); */
   margin: auto;
   display: grid;
   place-items: center;
   /* padding: 20px;
      max-width: 700px;
      width: 80%; */
}

/* Horizontal Rules */
/* Looks like the key is to style to border of the rule */
#horizRule1 {
   border-top: 0;
   height: 1px;
   /* border-bottom: 1px solid red; */
   background-image: linear-gradient(to right, rgb(209, 123, 123), rgba(0,0,0,0), red)
}

/* So applying a border applies it to around the HR itself,. I need to keep this in mind */
#horizRule2 {
   display: block;
   border: none;
   color: darkgoldenrod;
   height: 1px;
   background: black;
   background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

#horizRule3 {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#horizRule4 {
   display: block;
   padding: 1rem;
   /* height: 30px; */
   /* border-width: 3px; */
   margin-top: -30px;
   border-style: soild;
   border-width: 0 0 3px 0;
   border-image:
      linear-gradient(
         to right,
         black,
         aliceblue,
         black
      ) 60;
   border-radius: 10px;
}

#horizRule5 {
   border: 0;
   height: 0;
   box-shadow: 0 0 4px 1px black;
}

/* Borders */
.borderWrap1 {
   max-width: 700px;
   padding: 1rem;
   /* position: relative; */
   /* background: linear-gradient(to right, green, purple); */
   background: repeating-linear-gradient(
      45deg,
      /* purple,*/ /* Gradients from this color... */
      /* rgb(5, 233, 5) 10px, */ /* To this color, within the given pixels!  */
      /* rgb(5, 233, 5) 10px, */
      /* aliceblue 20px, */
      /* aliceblue 20px, */
      /* purple 30px */
      grey,
      black 9px,
      black 9px,
      aliceblue 18px,
      aliceblue 18px,
      grey 27px
   );
   padding: 6px;
   border-radius: 1rem;
}

.blogContent {
   background: aliceblue;
   color: black;
   padding: 2rem;
   margin: -0.5rem -0.5rem 0 -0.5rem;
   border-radius: 1rem;
}

.borderWrap2 {
   max-width: 700px;
   padding: 1rem;
   border-width: 3px;
   border-style: solid;
   border-image: 
      linear-gradient(
         to bottom,
         rgb(139, 4, 156),
         aliceblue
      ) 0 100%;
}