body {
   background-color: aliceblue;
   /* border: 10px solid green; */
   /* border-radius: 20px; */
   /* background: repeating-linear-gradient(
      45deg,
      #00de31,
      #51f213
   ); */
   margin: 0 auto;
   display: grid;
   place-items: center;
   padding: 20px;
      max-width: 700px;
      width: 80%;
}

/* Looks like the key is to style to border of the rule */
#horizRule1 {
   border-top: 0;
   height: 1px;
   /* border-bottom: 1px solid red; */
   background-image: linear-gradient(to right, rgb(209, 123, 123), rgba(0,0,0,0), red)
}

/* So applying a border applies it to around the HR itself,. I need to keep this in mind */
#horizRule2 {
   display: block;
   border: none;
   color: darkgoldenrod;
   height: 1px;
   background: black;
   background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

#horizRule3 {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.borderWrap {
   max-width: 700px;
   padding: 1rem;
   position: relative;
   background: linear-gradient(to right, green, purple);
   padding: 3px;
   border-radius: 15px;
}

.blogContent {
   background: aliceblue;
   color: black;
   padding: 2rem;
   border-radius: 15px;
}